# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.backup

# Python
.venv/
__pycache__/

# Local environment / secrets
.env
.env.local
.env.*.local

# IDE / Editor
.idea/

# Logs
*.log

# Marimo
__marimo__/